.cartitems{
    margin: 80px 40px;
}

.cartitems hr{
    height: 3px;
 background: #e2e2e2;
 border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 20px 0px;
    color: #454545;
    font-size:18px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 60px;

}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 60px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;   
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 30px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    pad: 15px 0px;
}

.cartitems-total button{
    width: 250px;
    height: 55px;
    outline: none;
    border: none;
    background: #64CCC5;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #555;
}

.cartitems-promobox{
    width: 450px;
    margin-top: 15px;
    padding-left: 15px;
    height: 50px;
    background: #eaeaea;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16PX;
    width: 300px;
    height: 30px;
}

.cartitems-promobox button{
    width: 140px;
    height: 50px;
    margin-top: 35px;
    font-size: 16px;
    background:black;
    color: white;
    cursor: pointer;
}